@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #111111;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

.front-page {
    height: 100%;
    width: 100%;
    background: url(./Images/pexels-arnie-chou-927414.jpg) no-repeat center center;
    transition: 1.5s cubic-bezier(.6, -0.28, .74, .05);
    ;
    background-size: 250% 250%;
    cursor: pointer;
}

.front-page:hover {
    background-size: 100% 100%;
}

.front-page-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.container header {
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f4f4f4;
}

h1.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
}

span.text {
    text-transform: uppercase;
    color: #f4f4f4;
    font-weight: 100 !important;
}

p.phone-number {
    font-weight: bold;
}

#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -75px;
    color: #f4f4f4;
    text-align: center;

}

.showcase-text {
    font-size: 3.7rem;
    line-height: 1.1;
    letter-spacing: 0.1rem;
}

.showcase-text span.next-line {
    display: block;
}

.showcase-p {
    font-size: 1rem;
}

.contact-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 0.7rem;
    color: #f4f4f4;
    margin-top: 1.5rem;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    background-color: #36aa40ec;
    border-radius: 25px;
    transition: background 0.5s ease-in-out;
}

.contact-link:hover {
    background-color: #1a5e1fec;
}

/* Offers section */
section.offers {
    width: 100%;
    height: 45%;
    background-color: #f4f4f4;
    padding: 0.5rem 4rem 0.2rem 4rem;
}

.offers h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes .box {
    height: 320px;
    width: 100%;
    text-align: center;
}

.boxes .box:not(:last-of-type) {
    margin-right: 1.5rem;
}

.boxes .box .image-container {
    height: 180px;
    width: 100%;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.5s cubic-bezier(.47, -0.06, .28, .97);
    ;
}

.boxes .box-1 .image-container {
    background: url(./Images/victoria\ falls.jpg) no-repeat center center;
    background-size: 250% 250%;
}

.boxes .box-2 .image-container {
    background: url(./Images/burj\ khalif.jpg) no-repeat center center;
    background-size: 250% 250%;
}


.boxes .box-3 .image-container {
    background: url(./Images/durban.jpg) no-repeat center center;
    background-size: 250% 250%;
}

.boxes .box .image-container:hover {
    background-size: 100% 100%;
}

.box h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

section.reason {
    height: 70%;
    width: 100%;
    cursor: pointer;
}

section.reason .page {
    height: 100%;
    width: 100%;
    position: relative;
    background: url(./Images/pexels-pixabay-414199.jpg) no-repeat center center;
    background-size: 250% 250%;
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

section.reason:hover .page {
    background-size: 100% 100%;
}

section.reason .page .page-content {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
}

.page-content h2 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.page-content .why-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.why-section .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.4;
}

.why-section .sections:not(:last-of-type) {
    margin-right: 1rem;
}

.sections .enclosure {
    height: 80px;
    width: 80px;
    padding: 1rem;
    border: 2px solid #f4f4f4;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sections .enclosure i {
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    color: #f4f4f4;
}

.sections h3 {
    text-transform: uppercase;
    margin-bottom: 0.7rem;
}

.sections p {
    font-size: 0.9rem;
}

.rod {
    height: 3px;
    width: 77%;
    margin-top: 1.5rem;
    background-color: #f4f4f4;
    opacity: .5;
}

/* Testimonial */
section.testimonial {
    height: 35%;
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.testimonial h2 {
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 1rem;
}

section.testimonial i {
    font-size: 2.5rem;
    color: #c7c3c3;
    margin-bottom: 0.8rem;
}

section.testimonial .text-container {
    width: 100%;
    padding: 0 0.8rem 0 0.8rem;
}

section.testimonial p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

section.testimonial h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: #1b6621ec;
}

/* footer */
footer {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
    font-size: 0.9rem;
}

.front-page {
    background-attachment: fixed;
}

/* Responsive */
@media (max-width: 700px) {
    body {
        overflow-x: hidden;
    }

    .container header {
        height: 3.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1.logo {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 0.2rem;
        margin-bottom: 0.1rem;
    }

    p.phone-number {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .showcase-text {
        font-size: 1.4rem;
        line-height: 1.1;
        letter-spacing: 0.1rem;
    }

    .showcase-p {
        font-size: 0.8rem;
        margin-top: 0.2rem;
        padding: 0rem 0.8rem 0rem 0.8rem;
    }

    .contact-link {
        padding: 0.6rem 2rem 0.6rem 2rem;
    }

    .front-page {
        background-size: cover;
        background-attachment: scroll;
    }

    section.offers {
        height: 104%;
    }

    .offers h2 {
        font-size: 1rem;
    }

    .boxes {
        flex-direction: column;
    }

    .boxes .box {
        margin-bottom: 1rem;
        height: 200px;
    }

    .boxes .box:not(:last-of-type) {
        margin-right: 0;
    }

    .boxes .box .image-container {
        height: 160px;
    }

    .box h3 {
        text-transform: uppercase;
        font-size: 1rem;
    }

    .box p {
        font-size: 0.8rem;
    }

    section.reason {
        height: 110%;
    }

    section.reason .page .page-content {
        flex-direction: column;
    }

    section.reason .page {
        background-size: cover;
    }

    .page-content h2 {
        font-size: 0.9rem;
    }

    .page-content .why-section {
        flex-direction: column;
    }

    .why-section .sections:not(:last-of-type) {
        margin-bottom: 1.2rem;
    }

    .why-section .sections:not(:last-of-type) {
        margin-right: 0;
    }

    .sections .enclosure {
        height: 50px;
        width: 50px;
        padding: 0.5rem;
    }

    .sections .enclosure i {
        font-size: 1.8rem;
    }

    .sections h3 {
        font-size: 0.8rem;
    }

    .sections p {
        font-size: 0.7rem;
    }

    .rod {
        height: 2px;
        width: 65%;
    }

    section.testimonial {
        height: 30%;
    }

    section.testimonial h2 {
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
    }

    section.testimonial i {
        font-size: 1.8rem;
    }

    section.testimonial .text-container {
        width: 100%;
        padding: 0 0.8rem 0 0.8rem;
    }

    section.testimonial p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    section.testimonial h4 {
        font-size: 0.9rem;
    }

    /* footer */
    footer {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f4f4f4;
        font-size: 0.5rem;
    }
}